/* Contenedor principal que organiza el layout en dos columnas */
.app-container {
  display: flex;
  height: 100vh;
}

/* El navbar ocupa un ancho fijo */
app-navbar {
  flex-shrink: 0;
}

/* El contenido principal debe ocupar el resto del espacio disponible */
.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
  overflow-y: auto;
}
