<div class="container">
  <h1>Gestión de Buses</h1>

  <!-- Navigation to Create Bus -->
  <div class="top-actions">
    <button id="btnCreatebus"  class="btn-add" (click)="router.navigate(['/crear-bus'])">
      Crear Nuevo Bus
    </button>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- List of Buses using ListComponent -->
  <app-list
    [items]="buses"
    [columns]="listColumns"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    (assignBus)="onAssignBus($event)"
  ></app-list>
</div>
