<div class="container">
  <div class="form-header">
    <h2>Crear Conductor</h2>
  </div>
  <form (ngSubmit)="onSubmit()" #createConductorForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        [(ngModel)]="conductor.nombre"
        required
        class="input-field"
        placeholder="Ingrese el nombre"
      />
    </div>
    <div class="form-group">
      <label for="cedula">Cédula:</label>
      <input
        type="text"
        id="cedula"
        name="cedula"
        [(ngModel)]="conductor.cedula"
        required
        class="input-field"
        placeholder="Ingrese la cédula"
      />
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        [(ngModel)]="conductor.telefono"
        required
        class="input-field"
        placeholder="Ingrese el teléfono"
      />
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input
        type="text"
        id="direccion"
        name="direccion"
        [(ngModel)]="conductor.direccion"
        class="input-field"
        placeholder="Ingrese la dirección"
      />
    </div>
    <div class="form-actions">
      <button type="submit" class="btn-save" id="btnGuardar">Guardar</button>
    </div>
  </form>
</div>
