table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f0f2f4;
}

th,
td {
  border: 1px solid #dce0e5;
  padding: 10px;
  text-align: left;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f0f2f4;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  background-color: #2884e6;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c6bb5;
}
